.aboutme__section--wrapper {
  margin-top: 100px;
  transition: 300ms;
}

.aboutme__container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .item__thumb {
    float: left;
    margin-right: 10px;
  }
  .item__content {
    text-justify: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .aboutme__bigimg {
    img {
      width: 500px;
    }
  }
  .aboutme__container {
    width: 400px;
    img {
      width: 150px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .aboutme__section--wrapper {
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      .col-sm {
        flex-grow: 0;
      }
    }
  }
  .aboutme__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 20px;
    .aboutme__item {
      margin-bottom: 30px !important;
    }
    .aboutme__bigimg {
      img {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .item__content {
    text-justify: auto;
  }
  .aboutme__bigimg {
    img {
      width: 100%;
      overflow: hidden;
    }
  }
}
